USE [okulDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7.12.2022 23:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ders]    Script Date: 7.12.2022 23:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ders](
	[DersId] [int] IDENTITY(1,1) NOT NULL,
	[DersAdi] [nvarchar](max) NULL,
	[Kredisi] [int] NULL,
	[OkulYonetimId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ders] PRIMARY KEY CLUSTERED 
(
	[DersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgrenciDers]    Script Date: 7.12.2022 23:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciDers](
	[OgrenciDersId] [int] IDENTITY(1,1) NOT NULL,
	[DersId] [int] NOT NULL,
	[OgrenciId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OgrenciDers] PRIMARY KEY CLUSTERED 
(
	[OgrenciDersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrencis]    Script Date: 7.12.2022 23:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrencis](
	[OgrenciId] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](max) NULL,
	[KayitTarihi] [datetime] NOT NULL,
	[OgrenciNo] [nvarchar](max) NULL,
	[DogumTarihi] [nvarchar](max) NULL,
	[Bolum] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Ogrencis] PRIMARY KEY CLUSTERED 
(
	[OgrenciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OkulYonetims]    Script Date: 7.12.2022 23:21:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OkulYonetims](
	[OkulYonetimId] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](max) NULL,
	[Gorevi] [nvarchar](max) NULL,
	[YonetimTip] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.OkulYonetims] PRIMARY KEY CLUSTERED 
(
	[OkulYonetimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ders] ON 

INSERT [dbo].[Ders] ([DersId], [DersAdi], [Kredisi], [OkulYonetimId]) VALUES (1, N'VERİ YAPILARI', 4, 1)
INSERT [dbo].[Ders] ([DersId], [DersAdi], [Kredisi], [OkulYonetimId]) VALUES (2, N'KATİPLİK', 2, 2)
INSERT [dbo].[Ders] ([DersId], [DersAdi], [Kredisi], [OkulYonetimId]) VALUES (3, N'SQL ', 5, 3)
SET IDENTITY_INSERT [dbo].[Ders] OFF
GO
SET IDENTITY_INSERT [dbo].[OgrenciDers] ON 

INSERT [dbo].[OgrenciDers] ([OgrenciDersId], [DersId], [OgrenciId]) VALUES (1, 1, 1)
INSERT [dbo].[OgrenciDers] ([OgrenciDersId], [DersId], [OgrenciId]) VALUES (2, 3, 1)
SET IDENTITY_INSERT [dbo].[OgrenciDers] OFF
GO
SET IDENTITY_INSERT [dbo].[Ogrencis] ON 

INSERT [dbo].[Ogrencis] ([OgrenciId], [AdSoyad], [KayitTarihi], [OgrenciNo], [DogumTarihi], [Bolum]) VALUES (1, N'Enes Mirza Kaşıkcı', CAST(N'2020-12-14T00:00:00.000' AS DateTime), N'20200108046', N'28/10/2002', N'Bilgisayar programcılığı')
INSERT [dbo].[Ogrencis] ([OgrenciId], [AdSoyad], [KayitTarihi], [OgrenciNo], [DogumTarihi], [Bolum]) VALUES (3, N'Furkan kaşıkcı', CAST(N'2022-12-01T22:24:16.200' AS DateTime), N'114654456', N'12.01.2022 22:24', N'Hukuk')
INSERT [dbo].[Ogrencis] ([OgrenciId], [AdSoyad], [KayitTarihi], [OgrenciNo], [DogumTarihi], [Bolum]) VALUES (4, N'Fevzi Uzun', CAST(N'2022-12-02T18:59:15.873' AS DateTime), N'5465464', N'12.02.2022 18:59', N'Denizclik')
SET IDENTITY_INSERT [dbo].[Ogrencis] OFF
GO
SET IDENTITY_INSERT [dbo].[OkulYonetims] ON 

INSERT [dbo].[OkulYonetims] ([OkulYonetimId], [AdSoyad], [Gorevi], [YonetimTip]) VALUES (1, N'REFİK ELMACI', N'ÖĞRETİM GÖREVLİSİ', N'Öğretmen')
INSERT [dbo].[OkulYonetims] ([OkulYonetimId], [AdSoyad], [Gorevi], [YonetimTip]) VALUES (2, N'FİKRET', N'ÖĞRETİM GÖREVLİSİ', N'Öğretmen')
INSERT [dbo].[OkulYonetims] ([OkulYonetimId], [AdSoyad], [Gorevi], [YonetimTip]) VALUES (3, N'UĞUR ACAR', N'REKTÖR', N'İdare')
SET IDENTITY_INSERT [dbo].[OkulYonetims] OFF
GO
ALTER TABLE [dbo].[Ders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ders_dbo.OkulYonetims_OkulYonetimId] FOREIGN KEY([OkulYonetimId])
REFERENCES [dbo].[OkulYonetims] ([OkulYonetimId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ders] CHECK CONSTRAINT [FK_dbo.Ders_dbo.OkulYonetims_OkulYonetimId]
GO
ALTER TABLE [dbo].[OgrenciDers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OgrenciDers_dbo.Ders_DersId] FOREIGN KEY([DersId])
REFERENCES [dbo].[Ders] ([DersId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OgrenciDers] CHECK CONSTRAINT [FK_dbo.OgrenciDers_dbo.Ders_DersId]
GO
ALTER TABLE [dbo].[OgrenciDers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OgrenciDers_dbo.Ogrencis_OgrenciId] FOREIGN KEY([OgrenciId])
REFERENCES [dbo].[Ogrencis] ([OgrenciId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OgrenciDers] CHECK CONSTRAINT [FK_dbo.OgrenciDers_dbo.Ogrencis_OgrenciId]
GO
